@import '@/qunar/reset.scss';


.detail-head{
  @include rect(100%,0.45rem);
  @include flexbox();
  @include align-items();
  @include justify-content(space-between);
  padding: 0 0.2rem;
  @include text-color(#DFDCDA);
  position: fixed;
  left: 0;
  top: 0;
  .detail-head-back{
    @include background-color(#635E5E);
    @include rect(auto,0.3rem);
    padding: 0.02rem 0.1rem;
    border-radius: 0.3rem;

  }
  .detail-head-search{
    @include background-color(#635E5E);
    @include rect(0.3rem, 0.3rem);
    border-radius: 50%;
    background: url(https://s1.st.meishij.net/p2/20180831/20180831103956_213.png) .03rem .03rem no-repeat;
    background-size: .18rem .18rem;
    text-align: center;
    background-color:rgba(0,0,0,.5);
    line-height: 0.3rem;
    margin-left: 1.5rem;
  }
  .detail-head-kind{
    @include background-color(#635E5E);
    @include rect(auto,0.3rem);
    padding: 0.02rem 0.1rem;
    border-radius: 0.3rem;
  }

}

