@import '@/qunar/reset.scss';

.artical_title{
  height: .22rem;
    color: #333;
    line-height: .22rem;
    font-size: .20rem;
    display: inline-block;
    border-radius: .11rem;
    vertical-align: top;
    font-weight: 900;
}
.artical_big{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0px 12px 0px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  .artical_name{
    max-height: 51px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 0px 7px;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .artical_img{
    height: 1.94rem;
    width: 3.45rem;
    overflow: hidden;
    border-radius: 1px;
    position: relative;
    background:#f8f8f8 url(https://s1.st.meishij.net/rs/06/129/5469756/n5469756_154678867680227.jpg) center no-repeat;background-size:cover;
  }
  .artical_more{
    padding-top: 10px;
    .artical_view{
      
      vertical-align: top;
      font-size: .09rem;
      color: #666;
      margin: 0 .15rem 0 .03rem;
      font-weight: 400;
      img{
        display: inline-block;
        vertical-align: top;
        height: .13rem;
        width: .13rem;
        margin: .02rem 0 0 .1rem;
      }
      span{
        display: inline-block;
        margin:.02rem .2rem 0 .05rem;
      }
    }
  }
}
