@import '@/qunar/reset.scss';

.find_content{
  width:100%;
  .top_img img{
    @include rect(100%,auto);
  }
  .Find_artical{
    width:100%;
    h1{
      padding: 16px 12px 4px;
      font-size: 22px;
      font-weight: 700;
      color: #1b1b1b;
      line-height: 36px;
      margin: 0px 4px;
    }
    .Find_articals{
      width:100%;
    .Find_title{
      padding:16px 12px 4px;
      font-size: 16px;
      text-align: center;
    }
    p{
      text-align: left;
      font-size: 14px;
      color: #383838;
      line-height: 25px;
      padding: 12px 4px 0px;
      strong{
        font-weight:700;
      }
    }
  
  .Find_share{
    @include rect(100%,2.76rem);
    padding:.20rem .10rem;
    display:flex;
    flex-wrap:wrap;
    .Find_share_de{
      @include rect(50%,100%);
      border-bottom:1px solid #eee;
      overflow: hidden;
      .share_img img{
        @include rect(1.67rem,1.67rem);
      }
      strong{
        @include rect(100%,100%);
        display: block;
        height: 39px;
        line-height: 36px;
        box-sizing: border-box;
        padding: 3px 10px 0px;
        font-size: 18px;
        color: #000;
        font-weight: 500;
        overflow: hidden;
        text-align:center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .avater{
        @include rect(.24rem,.24rem);
        display:inline-block;
        overflow: hidden;
        margin:0 .2rem 0 .2rem;
        border-radius:50%;
        img{
          @include rect(.24rem,.24rem);
        }
      }
      span{
        width:.7rem;
        overflow: hidden;
        text-align:center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.find_zong{
  padding:.2rem .1rem .30rem .1rem;
  border-bottom: .05rem solid #eee;
}
.find_ping{
  width: 100%;
  padding: .15rem;
  .find_user{
    display:flex;
    height: .34rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    .find_tou{
      @include rect(.24rem,.24rem);
        display:inline-block;
        overflow: hidden;
        margin-right:.1rem;
        border-radius:50%;
        img{
          @include rect(.24rem,.24rem);
        }
    }
    strong{
      display: block;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
    font-size: .14rem;
    height: .18rem;
    line-height: .18rem;
    }
    span{
      display: block;
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #bbb;
      font-size: .10rem;
      height: .14rem;
      line-height: .14rem;
      margin-top: .02rem;
    }
  }
  .find_say{
    padding: .06rem 0px .16rem 0px;
    border-bottom: .02rem solid #f5f5f5;
    margin-left: .46rem;
    p{
      font-size: .14rem;
      padding: .08rem 0;
      line-height: .21rem;
      color: #383838;
    }
  }
}
}
}