@import '@/qunar/reset.scss';

.index_content{
  .nav_index{
    @include rect(100%,1.24rem);
    ul{
      @include flexbox();
      padding-top:.14rem;
      a{
        display:block;
        padding-top:.85rem;
        text-align: center;
        line-height: 100%;
        color:#000;
      }
      
      li:nth-child(1){
        @include rect(20%,1.24rem);
        margin:.1rem;
        background: url(https://s1.c.meishij.net/wap6/images/v6/quanbunew.png) center top no-repeat;
        background-size: 100% auto;
      }
      li:nth-child(2){
        @include rect(20%,1.24rem);
        margin:.1rem;
        background: url(https://s1.c.meishij.net/wap6/images/v6/shipincaipunew.png) center top no-repeat;
        background-size: 100% auto;
      }
      li:nth-child(3){
        @include rect(20%,1.24rem);
        margin:.1rem;
        background: url(https://s1.c.meishij.net/wap6/images/v6/kuaishoucainew.png) center top no-repeat;
        background-size: 100% auto;
      }
      li:nth-child(4){
        @include rect(20%,1.24rem);
        margin:.1rem;
        background: url(https://s1.c.meishij.net/wap6/images/v6/fujinnew.png) center top no-repeat;
        background-size: 100% auto;
      }
    }
  }
  .index_tuijian{
    h2{
      width: 100%;
      color: #333;
      font-size: 18px;
      line-height: 40px;
      padding-top: 14px;
      text-align: center;
    }
    img{
      display: block;
      height: auto;
      width: 100%;
    }
  }
  .index_like{
    h2{
      width: 100%;
      color: #333;
      font-size: 18px;
      line-height: 40px;
      padding-top: 14px;
      text-align: center;
      svg{
        width: 1.1396484375em; height: 1em;vertical-align: middle;fill:"#f99";overflow: hidden;
      }
    }
  }
}