.dead{
  height: 3rem;
  height: 80%;
  width: 100%;position: absolute;top: 0%;
}
.tous{
  font-size: 16px;
  height: 0.4rem;
  text-align: center;
  background: white;
  margin-bottom:3px 
}
.tous button{
  border:0;
  background:#fff;
  margin-left: 0.2rem;
  line-height: 0.4rem;
  display: block;
  float: left; color: #f66
}
.tous h3{
  float: left;
  margin-left: 1rem;
  line-height: 0.4rem;
}
.tous .dian{
  float: right;margin-right:0.1rem ;
  line-height: 0.4rem;
   color: #f66;
}
.shuru  p input{
  padding:0 .2rem;
  border: none;
  height: 0.5rem;
  width: 100%
}
.login{
  width: 100%;
  margin-top: 0.2rem;
  text-align: center;
}
.login h3{
  width: 3.5rem;
  background: #f66;
  height: 0.5rem;
  margin: 0 auto;
  text-align: center;font-size: 18px;color: white;
  line-height: 0.5rem;
}

.login span{
line-height: 0.4rem
}
.logo{
  height: 1rem;
}
.logo img {
  width: 0.6rem;height: 0.6rem;
}
.logo div{
  float: left;
}
.logo .qq{
  margin-left: 1rem;margin-right: 0.2rem
}
.logo span{
  display: block
}

