.znuce{
  width: 100%;
    height:100%;position: absolute;
  }
  .zucet{
    line-height: 0.4rem;
    font-size: .18rem;
    height: 0.4rem;
    overflow:hidden;
  }
  .zucet button{
    float: left;
    border:0;
    background:#fff;
    margin-top:.1rem;
    margin-left: 0.1rem;
    margin-right: 0.9rem
  
  }
  .zucet p{
    float: left;
  }
  .zucet .h4{
  float: right;
  margin-right: 0.1rem;color:black
  }
  .neir p input{
    padding:0 .2rem;
    border: none;
    height: 0.5rem;
    width: 100%
  }
  .ilo{
    padding-top: 1rem
  }
  