@import '@/qunar/reset.scss';

.search_header{
  @include rect(100%,.44rem);
  display:flex;
  .back{
    display:block;
    @include rect(.6rem,100%);
    padding:.1rem;
    i{
      display:block;
      @include rect(100%,100%);
      background:url(http://img2.imgtn.bdimg.com/it/u=3640753514,3009226372&fm=26&gp=0.jpg) no-repeat center;
      background-size: contain;
    }
  }
  .search_container{
    padding:.05rem .02rem;
    flex:1;
    input[type="text"] {
      @include rect(2.4rem,.32rem);
      border:0;
      padding:0 .1rem;
      background:#eee;
    }
    input[type="submit"]{
      @include rect(.55rem,.32rem);
      color:#fff;
      background:#ff4c39;
      margin-left:.05rem;
      border:0;
    }
  }
}



.search_list{
  @include rect(100%,auto);
  li{
    width: 100%;
    box-sizing: border-box;
    padding: .12rem ;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    min-height: 1.14rem;
    .search_content{
      display:flex;
      .searchInfo{
        margin-left:.2rem;
        max-height: .85rem;
        font-size: .16rem;
        color: #333;
        font-weight: 400;
        line-height: .22rem;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .searchImg{
        @include rect(1.2rem,.85rem);
      }
    }
    .search_view{
      
      vertical-align: top;
      font:800 .16rem/.28rem "";
      color: #666;
      margin: 0 .15rem 0 .03rem;
      font-weight: 400;
     .stars{
      display: block;
      height: .20rem;
      font-size: 0;
      padding: .04rem 0 .06rem;
      i{
        background: url(https://s1.st.meishij.net/p2/20180831/20180831142237_413.png) center no-repeat;
        background-size: .16rem .16rem;
        display: inline-block;
        vertical-align: top;
        height: .16rem;
        width: .16rem;
        margin: .02rem .02rem 0 0;
      }
     }
      span{
        display: inline-block;
        font:.14rem/.25rem "";
        margin:.02rem .2rem 0 .05rem;
      }
      p{
        display: inline-block;
      }
    }
  }
}