@import '@/qunar/reset.scss';
html, body, #root, .app {
   @include rect(100%, 100%);
  @include background-color(#fff);
  @include overflow();
 }
.search-list-detail{

  .search-detail-banner{
    .search-detail-banner-img{
      @include rect(100%,2.5rem);
      //background: url("https://s1.st.meishij.net/r/173/81/3832923/s3832923_155156848201092.jpg") no-repeat 0 -1.5rem;
      background-repeat: no-repeat;
      background-position: 0,-1.5rem;
      background-size: 100%,100%;
    }
  }
  .search-detail-banner-title{
    @include background-color(#FFF4D6);
    padding:0.1rem 0.2rem 0;
    h3{
      font: 900 0.24rem/2  "";
    }
    h5{
      font: 0.12rem/0.14rem "";
    }
    .search-detail-banner-title-zuoyong{
      padding: 0.2rem 0;
      span{
        @include text-color(#eaa46e);
        margin: 0 0.05rem;
        font: 0.14rem/0.2rem "";
      }
    }
  }
  .search-detail-user-content{
      padding: 0 0.2rem 0.1rem;
    .search-detail-user-username{
      @include rect(100%,0.8rem);
      @include flexbox();
      @include justify-content(space-between);
      @include align-items();
      padding-bottom: 0.2rem;
      .search-detail-user-content-name{
        img{
          @include rect(0.35rem, 0.35rem);
          border-radius: 50%;
          float: left;
        }
        h4{
          @include text-color(#666);
          font: 0.14rem/0.18rem "";
          padding-left: 0.4rem;
        }
        h5{
          padding-left: 0.4rem;
          font: 0.12rem/0.16rem "";
        }
      }
      .search-detail-user-content-guanzhu{
        @include rect(0.6rem, 0.3rem);
        line-height: 0.28rem;
        border-radius: 0.3rem;
        border: 1px solid;
        text-align: center;
      }

    }
    .search-detail-user-text{
      @include text-color(#333);
      font: 0.17rem/0.25rem "";
      text-align: justify;
    }
  }
  .search-detail-pingfen{
    @include rect(100%, 1.2rem);
    border-top: #bbbbbb 0.01rem solid;
    .search-detail-pingfen-left{
      float: left;
      @include rect(80%, 1.2rem);
      padding-left: 5%;
      h5{
        margin-top: 0.1rem;
        @include rect(100%, 0.3rem);
        font-size: 0.2rem;
        line-height: 0.3rem;
        margin-bottom: 0.05rem;
        span{
          margin-left: 8%;
          i{
            font-size: 0.22rem;
          }
          i:nth-child(1),i:nth-child(2),i:nth-child(3){
          color: gold;
        }
        }
      }
      ul{
        padding-top: 0.05rem;
        li{
          @include rect(50%, 100%);
          float: left;
          padding-top: 0.03rem;
          font-size: 0.17rem;
          span{
            margin-left: 5%;
          }
        }
      }
    }
    .search-detail-pingfen-right{
      //font-size: 0.25rem;
      i{
        @include font-size(0.35rem);
      }
    }

  }
  .search-detail-zhanshi{
    clear: both;
    p{
      margin: 0 auto;
      @include flexbox();
      @include justify-content();
      font: 900 0.2rem/0.6rem "";
    }
    img{
      @include rect(100%,auto);
    }
  }
}