.tang{
  position: relative;;top: -40px;
  width: 100%;height:100%;
  display:flex;
  flex-direction: column;
}
 .user_content{
   flex:1;
   background: #dadada;
  width: 100%;height: 100%;
 }
 #con{
   position: relative;
 }
  .headers{
    height: 2.5rem;width: 100%;background:url(https://s1.c.meishij.net/wap7/images/home_bgOnline@3x.png);padding-top: 1rem
  }
    .tou{
      height: 0.7rem;width: 0.7rem;border: 3px solid rgba(255,255,255,0.5);border-radius: 50%;overflow: hidden;margin-left: 0.3rem;float: left;
    }
      .tou img{
        height: 0.7rem;width: 0.7rem
      }
      .right_r{
        float: left;color: white;margin-left: 0.1rem;
      }
        .pa{
          font-size: 0.17rem;
          margin-bottom: 0.05rem
        }
        .pc{
          border-radius: 16px;
          border: 1px solid rgba(255,255,255,0.5);background: rgba(255,255,255,0.2);
          text-align: center
        }
  .nav{
    background: white;
    height: 0.5rem;width: 100%;position: relative;
  }
    .nav div{
      float: left;height: 0.3rem;width: 33%;
      line-height: 0.3rem;text-align: center;margin: 0.1rem 0
    }
    .nav div p{
      display: inline-block;color: red
    }
    .nav span{
      display: block;height: 0.3rem;width: 0;border: 1px solid #dadada;position: absolute
    }
    .nav .spanl{
      left:33%;top:0.1rem
    }
    .nav .spanr{
      left:66%;top:0.1rem
    }
  .my_rong{
    height: 0.8rem;width: auto;background: white;margin-top: 0.1rem;
  }
    .my_rong h3{padding-left: 0.2rem;font-size: 0.15rem;font-weight: normal;padding-top: 0.05rem}
    .my_rong ul{
      margin-top: 0.1rem;
      width:auto;height: 0.6rem
    }
      .my_rong ul li{
        float: left;margin-left: 0.13rem
      }
       .my_rong ul li img{
         height: 0.3rem;widows: 0.3rem;
       }
  .jifen{
    height: 0.4rem;width: 100%;margin: 0.1rem 0;background: white
  }
  .jifen .jfen_img{
    float: left;
  }
  .jifen .jfen_img img{
    height: 0.3rem;margin-top: 0.03rem;margin-left: 0.1rem;
  }
  .jfen_Rig{
    margin-right: 0.1rem;
    float: right;
    
  }
  .jfen_Rig img{
    height: 0.18rem;margin-top: 0.1rem;margin-right: 0.1rem;
  }
  .jifen p {
    float: right ;margin-top: 0.1rem;margin-right: 0.2rem;color: red;   
  }
  .jifen span{
    display: block;float: left;
    margin-top:0.1rem 
  }
  .my_New{
    height: 0.4rem;width: auto;background: white;margin-top: 0.02rem;
  }
  .my_New img{
    float: left;
    height: 0.3rem;
    margin-top: 0.07rem;
    margin-left: 0.1rem;
  }
  .my_New span{
    display: block;
    float: left;
    margin-top: 0.1rem;
  }
  .Right{
    width: 0.2rem;
    float: right;
    margin-right: 0.2rem;
    
  }
  .Right img{
    height: 0.18rem;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
  }
  .unify{
    height: 0.4rem;width: auto;background: white;margin-top: 0.01rem;
  }
  .unify img{
    float: left;
    height: 0.3rem;
    margin-top: 0.07rem;
    margin-left: 0.1rem;
  }
  .unify span{
    display: block;
    float: left;
    margin-top: 0.1rem;
  }
  .Right{
    width: 0.2rem;
    float: right;
    margin-right: 0.2rem;
    
  }
  .Right img{
    height: 0.18rem;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
  }
  .head{
    height: 92%;
    position: absolute;top: 0;
    width: 100%;
  }
  .head p{
    width:100%;height: 0.4rem;
    background: #f66;
    text-align: center;
    line-height: 0.4rem;
    color: white;
    font-size: .2rem;
  }
  .head .deng {
   float:left;
   a{
     color:#999;
     font:600 .16rem/.32rem "";
     margin-left: .2rem;
   }
  }
  .zhu{
    float:right;
    a{
      color:#999;
      font:600 .16rem/.32rem "";
      margin-right:.2rem;
    }
  }
  .unLogin{
    width:100%;
    height:100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    img{
      width:100%;
      height:auto;
      position: absolute;
      bottom:10%;
    }
    .unLogin_tips{
      font:600 .18rem/.5rem "";
      color:#f66;
      position: absolute;
      left:.6rem;
      bottom:30%;
    }
  }
