@import '@/qunar/reset.scss';

.content{
  .user_d_header{
    height: 44px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    span{
      color: #ff5151;
      font-size: 15px;
      line-height: 44px;
      padding: 0px 10px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    h1{
      line-height: 44px;
      font-size: 16px;
      color: #000;
      font-weight: bold;
      height: 44px;
      text-align: center
    }
  }
  .user_d_main{
    @include rect(100%,100%);
    margin-top:.44rem;
    
    background: #eee;
    .user_d_message{
      background:#fff;
      color:#bbb;
      text-indent: .16rem;
      padding-bottom:.2rem;
      h2{
        background: #eee;
        height: 44px;
        line-height: 44px;
        color: #999;
        font-size: 14px;
        padding-left: 5%;
      }
      .user_d_tel{
        border:.01rem solid #eee;
        color:#999;
        span{
          font:.16rem/.44rem '';
          
          color:#666;
        }
      }
      .user_d_name{
        display: flex;
        border:.01rem solid #eee;
        color:#999;
        span{
          font:.16rem/.44rem '';
          display:inline-block;
          width:.8rem;
          color:#666;
        }
        input[type="text"]{
          height: 44px;
          line-height: 44px;
          border: 0px;
          background: none;
          width: 80%;
          font-size: 15px;
          color: #666;
          vertical-align: top;
        }
      }
      .user_d_avater{
        line-height: 44px;
        font-size: 15px;
        .addava{
          width: 28.125%;
          background: #ddd;
          margin: 3.125% 0px 3.125% 0;
          overflow: hidden;
          position: relative;
          display: inline-block;
          vertical-align: top;
          border-radius: 6px;
          overflow: hidden;
          #uploadimgshow{
            font-size: 12px;
           
          .addava img {
            width: 100%;
            display: block;
            border-radius: 6px;
            overflow: hidden;
        }
          }
        }
      }
      .exit_btn {
        display: block;
        border:0;
        height: 44px;
        width: 87.5%;
        margin: 6.25% auto;
        background: #ff5151;
        color: #fff;
        text-align: center;
        line-height: 44px;
        font-size: 14px;
    }
    }
    
  }
}