@import '@/qunar/reset.scss';

.topbar{
  width: 100%;
  height: .44rem;
  position: fixed;
  left: 0rem;
  top: 0rem;
  border-bottom: .01rem solid #eee;
  background: #fff;
  z-index: 9999;
  .logo{
    display: block;
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: .44rem;
    width: .86rem;
    img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  form{
    padding: 0rem .86rem;
    display: block;
    height: .44rem;
    .fbg{
      height: .32rem;
      line-height: .32rem;
      border-radius: .02rem;
      margin-top:.06rem;
      border: 0rem;
      width: 100%;
      font-size: 0rem;
      padding-left:.32rem;
      box-sizing: border-box;
      background: url(https://s1.st.meishij.net/p2/20180831/20180831103956_213.png) .07rem .07rem no-repeat;
      background-size: .18rem .18rem;
      background-color: #f5f5f5;
      input[type="input"] {
        color:#000;
        background: none;
        box-shadow: none;
        text-align: left;
        height: .32rem;
        line-height: .32rem;
        border: 0rem;
        padding: 0rem 0rem;
        box-sizing: border-box;
        width: 72%;
        display: inline-block;
        vertical-align: top;
      }
      input[type="submit"] {
        background: #f54932;
        color: #fff;
        text-align: center;
        font-size: .14rem;
        border: 0rem;
        width: 28%;
        display: inline-block;
        vertical-align: top;
        height: .32rem;
        line-height: .32rem;
        border-top-right-radius: .02rem;
        border-bottom-right-radius: .02rem;
        cursor: pointer;
    }
    }
  }
   .link {
    display: block;
    height: .44rem;
    width: .86rem;
    text-align: center;
    color: #f54932;
    font-size: .14rem;
    line-height: .44rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}
}
.zc_title{
  margin:.6rem 0 .3rem .1rem;
}