@import '@/qunar/reset.scss';



    .yindao{
      @include rect(100%,100%);
      position: relative;
      img{
        @include rect(100%,100%);
      }
      a{
        display:block;
        @include rect(100%,10%);
        text-align:center;
        position: absolute;
        bottom:0;
        font:900 .2rem/.4rem "";
        color:#fff;
        border:0;
        background:rgba(0,0,0,.3)
      }
    }


.prolist {
    @include flexbox();
    flex-wrap: wrap;
    text-align: center;
    .toDetail {
      display:block;
      position: relative;
      li.index_list{
        overflow:hidden;
        transition:.3s;
        .proimg{
          @include rect(100%, auto);
          @include padding(0.05rem);
          .listImg{
            @include rect(1.74rem,1.74rem);
          }
        }
        @include border(0 1px 1px 0, #ccc, solid); // 1px边框实现
        .info{
          position: absolute;
          color:#fff;
          bottom: .1rem;
          left:0;
          right:0;
        }
      }
    }
 }
 li.index_list:hover img{
   transform: scale(1.2, 1.2);
 }
    .swiper-slide{
      @include rect(100%,5.2rem);
      .banner{
        @include rect(100%,1.4rem);
        padding:.05rem ;
        overflow:hidden;
        position: relative;
        background:#F5F5F5;
        img{
          width:100%;
          height:auto;
        }
         span{
           font:900 .18rem/.3rem "";
           text-indent: .2rem;
           color:#fff;
            position: absolute;
            top:1.1rem;
            display:block;
            @include rect(100%,auto);
            background:rgba(0,0,0,.3)
          }
        }
        .banner_comment{
          background:#F5F5F5;
          h1{
            text-align: center;
          }
          h2{
            padding-bottom:.3rem;
            text-align: center;
          }
        }
      }
      
      
  
.info{
  font-size:.18rem;padding:.01rem
}

