@import '@/qunar/reset.scss';

.Articallist{
  @include rect(100%,auto);
  li{
    width: 100%;
    box-sizing: border-box;
    padding: .12rem ;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    min-height: 1.14rem;
    .artical_content{
      display:flex;
      .articalInfo{
        max-height: .85rem;
        font-size: .16rem;
        color: #333;
        font-weight: 400;
        line-height: .22rem;
        padding: .09rem 0;
        box-sizing: border-box;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .articalImg{
        @include rect(1.14rem,.85rem);
      }
    }
    .artical_view{
      
      vertical-align: top;
      font-size: .09rem;
      color: #666;
      margin: 0 .15rem 0 .03rem;
      font-weight: 400;
      img{
        display: inline-block;
        vertical-align: top;
        height: .13rem;
        width: .13rem;
        margin: .02rem 0 0 .1rem;
      }
      span{
        display: inline-block;
        margin:.02rem .2rem 0 .05rem;
      }
      p{
        display: inline-block;
      }
    }
  }
}