@import '@/qunar/reset.scss';

.kind-head{
  @include rect(100%,0.44rem);
  @include flexbox();
  @include justify-content(space-between);
  @include align-items();
  padding: 0 0.1rem;
  .kind-head-back{
    @include font-size(0.25rem);
    @include text-color(#ff4c35);
  }
  .kind-search{
    @include rect(90%,75%);
    @include background-color(#f5f5f5);
    padding-left:0.9rem;
    .kind-head-search-text{
      border: 0;
      background: none;
      @include rect(90%,100%);
      @include text-color(#ccc);
    }
  }

}


.kind-tab{
  @include rect(100%,auto);
  @include flexbox();
  .kind-tab-title{
    @include rect(1rem,auto);
    ul{
      @include flexbox();
      @include flex-direction(column);
      @include justify-content();
      li{
        @include font-size(0.16rem);
        @include rect(1rem,1rem);
        @include flexbox();
        @include align-items();
        @include flex-direction(column);
        @include justify-content();
        i{
          @include text-color(#ff4c35);
          @include font-size(0.28rem);
        }
      }
    }
  }
  .kind-tab-content{
    @include flex();
    ul{
      @include rect(100%,auto);
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(space-between);
      li{
        @include flexbox();
        @include flex-direction(column);
        @include align-items();
        @include justify-content();
        img{
          @include rect(0.8rem,0.8rem);
        }
        span{
          text-align: center;
          @include font-size(0.12rem);
          @include rect(0.8rem,auto);
        }
      }
    }
  }

  //选中元素的样式
  .nav-tab-active-show{
    @include background-color(#F5F5F5);
  }
  .nav-tab-active-cont{
    @include background-color(#fff);
  }
  .nav-list-active-show{
    display: block;
  }
  .nav-list-active-cont{
    display: none;
  }

}
