@import '@/qunar/reset.scss';
html, body, #root, .app, .box {
  @include rect(100%, 100%);
  @include overflow();
}

.box {
  @include flexbox();
  @include flex-direction(column);
  .content {
    @include flex();
    @include rect(100%, auto);
    @include overflow();
  }
}
.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}
.footer {
  @include rect(100%, .7rem);
  @include background-color(#fefefe);
  
  font-size:.14rem;
  ul {
    @include rect(100%, 100%);
    @include flexbox();
    a{
      @include flex();
      color:#999;
      flex-direction: column;
      @include rect(auto, 100%);
      @include flexbox();
      @include justify-content();
      @include align-items();
      span{
        display:block;
      }
      &.active {
        @include color(#f00);
        fill:#f00;
      }
    }
    a:nth-child(1){
      svg{
        width: .3rem;; height: .3rem;;vertical-align: middle;fill: currentColor;overflow: hidden;
      }
    }
    a:nth-child(2){
      svg{
        width:.3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;
      }
    }
    a:nth-child(3){
      svg{
        width: .3rem; height:.3rem;vertical-align: middle;fill: currentColor;overflow: hidden;
      }
    }
    a:nth-child(4){
      svg{
        width: .3rem; height: .3rem;vertical-align: middle;fill: currentColor;overflow: hidden;
      }
    }
  }
}