@import '@/qunar/reset.scss';

.zc_list{
  @include rect(100%,auto);
  li{
    width: 100%;
    box-sizing: border-box;
    padding: .12rem ;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    min-height: 1.14rem;
    .zc_content{
      display:flex;
      .zaocanInfo{
        margin-left:.2rem;
        max-height: .85rem;
        font-size: .16rem;
        color: #333;
        font-weight: 400;
        line-height: .22rem;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .zaocanImg{
        @include rect(1.2rem,.85rem);
      }
    }
    .zaocan_view{
      
      vertical-align: top;
      font:800 .16rem/.28rem "";
      color: #666;
      margin: 0 .15rem 0 .03rem;
      font-weight: 400;
     .stars{
      display: block;
      height: .20rem;
      font-size: 0;
      padding: .04rem 0 .06rem;
      i{
        background: url(https://s1.st.meishij.net/p2/20180831/20180831142237_413.png) center no-repeat;
        background-size: .16rem .16rem;
        display: inline-block;
        vertical-align: top;
        height: .16rem;
        width: .16rem;
        margin: .02rem .02rem 0 0;
      }
     }
      span{
        display: inline-block;
        font:.14rem/.25rem "";
        margin:.02rem .2rem 0 .05rem;
      }
      p{
        display: inline-block;
      }
    }
  }
}