@import '@/qunar/reset.scss';

.header{
  .message{
    svg{
      width: .26rem; height: .2rem;vertical-align: middle;fill: #666;overflow: hidden;
    }
  }
  .search{
    background: #eee;
    margin:.05rem .2rem;
    padding:.05rem .2rem;
    img{
      @include rect(.12rem,.12rem);
      background-size:contain;
      font-size:.12rem;
    }
    input{
      border:0;
      background: #eee;
    }
  }
}
